<lx-tabs lx-color="pink">
  <lx-tab lx-label="Posts">
    <div class="card top-space" ng-repeat="post in posts">
      <div class="p+">
        <div flex-item flex-container="row" flex-column="12">
          <div flex-item="10">
            <strong class="fs-headline display-block tc-black-1">
              {{ post.title }}
            </strong>
          </div>
          <div flex-item="1">
            <lx-button ng-click="removePost(post)" lx-color="red" lx-type="flat">
              <i class="mdi mdi-delete" style="font-size: 18px;"></i>
            </lx-button>
          </div>
          <div flex-item="1">
            <lx-button ng-href="#!/post/edit/{{ post.id }}" lx-color="amber" lx-type="flat">
              <i class="mdi mdi-pencil" style="font-size: 18px;"></i>
            </lx-button>
          </div>
        </div>
        <div class="paragraph fs-body-1 mt+">
          {{ post.body }}
        </div>
      </div>
      <div class="card__actions">
        <lx-button ng-href="#!/post/{{ post.id }}" lx-color="pink" lx-type="flat">
          Read more
        </lx-button>
      </div>
    </div>
  </lx-tab>
  <lx-tab lx-label="Users">
    <div class="card top-space" ng-repeat="user in users">
      <div flex-container="row">
        <div class="card__img card__img--left" style="height: 160px;">
          <img src="assets/img/user_boy.png">
        </div>
        <div flex-item flex-container="column">
          <div flex-item class="p+">
            <strong class="fs-headline display-block">
              {{ user.name }}
            </strong>
            <strong class="fs-subhead tc-black-2 display-block">
              {{ user.email }}
            </strong>
          </div>
          <div class="card__actions">
            <lx-button ng-href="#" lx-color="pink" lx-type="flat">
              View profile
            </lx-button>
          </div>
        </div>
      </div>
    </div>
  </lx-tab>
</lx-tabs>